CPU_ARCH = ariane
NCPU_TILE = 1
CONFIG_HAS_SG = y
CONFIG_NOC_ROWS = 3
CONFIG_NOC_COLS = 3
CONFIG_COH_NOC_WIDTH = 64
CONFIG_DMA_NOC_WIDTH = 64
#CONFIG_MULTICAST_NOC_EN is not set
CONFIG_MAX_MCAST_DESTS = 2
CONFIG_QUEUE_SIZE = 4
CONFIG_CACHE_EN = y
CONFIG_CACHE_RTL = y
#CONFIG_CACHE_SPANDEX is not set
CONFIG_CPU_CACHES = 512 4 1024 16
CONFIG_ACC_CACHES = 512 4
CONFIG_CACHE_LINE_SIZE = 128
CONFIG_SLM_KBYTES = 256
CONFIG_JTAG_EN = y
CONFIG_ETH_EN = y
CONFIG_IOLINK_EN = y
CONFIG_IOLINK_WIDTH = 16
CONFIG_MEM_LINK_WIDTH = 64
#CONFIG_SVGA_EN is not set
CONGIG_DSU_IP = C0A80113
CONGIG_DSU_ETH = A6A7A0F81440
CONFIG_CLK_STR = 0
#CONFIG_MON_DDR is not set
#CONFIG_MON_MEM is not set
#CONFIG_MON_INJ is not set
#CONFIG_MON_ROUTERS is not set
#CONFIG_MON_ACCELERATORS is not set
#CONFIG_MON_L2 is not set
#CONFIG_MON_LLC is not set
#CONFIG_MON_DVFS is not set
TILE_0_0 = 0 cpu cpu 0 0 0
TILE_0_1 = 1 misc IO 0 0 0
TILE_0_2 = 2 acc NV_NVDLA  0 1 nvidia
TILE_1_0 = 3 acc FFT2_STRATUS basic_fx32_dma64 0 1 sld
TILE_1_1 = 4 mem mem
TILE_1_2 = 5 acc VITDODEC_STRATUS basic_dma64 0 1 sld
TILE_2_0 = 6 acc FFT2_STRATUS basic_fx32_dma64 0 1 sld
TILE_2_1 = 7 acc VITDODEC_STRATUS basic_dma64 0 1 sld
TILE_2_2 = 8 acc FFT2_STRATUS basic_fx32_dma64 0 1 sld
CONFIG_HAS_DVFS = y
