bin/
dev/
etc/dropbear
etc/exports
etc/fstab
etc/group
etc/hostname
etc/hosts
etc/init.d/S01logging
etc/init.d/S20urandom
etc/init.d/S30rpcbind
etc/init.d/S50dropbear
etc/init.d/S50sshd
etc/init.d/rcK
etc/init.d/rcS
etc/inittab
etc/iproute2/
etc/issue
etc/memstat.conf
etc/mtab
etc/netconfig
etc/nfsmount.conf
etc/nsswitch.conf
etc/os-release
etc/passwd
etc/profile
etc/profile.d/
etc/protocols
etc/resolv.conf
etc/services
etc/shadow
etc/shells
etc/ssh/moduli
etc/ssh/ssh_config
etc/ssh/sshd_config
etc/ssl/
etc/init.d/S40network
etc/network/if-pre-up.d/
etc/network/nfs_check
lib/
lib32
lib64
linuxrc
run/
sbin/
usr/bin/
usr/lib/
usr/lib32
usr/lib64
usr/libexec/
usr/sbin/
usr/share/applications/
usr/share/pixmaps/
usr/share/terminfo
var
init
