[submodule "accelerators/common/syn-templates"]
	path = accelerators/common/syn-templates
	url = git@dev.sld.cs.columbia.edu:esp/syn-templates-stratus.git
[submodule "soft/leon3/linux"]
	path = soft/leon3/linux
	url = git@github.com:sld-columbia/linux.git
	branch = leon3
[submodule "chisel"]
	path = chisel
	url = git@github.com:IBM/esp-chisel-accelerators.git
[submodule "soft/ariane/linux"]
	path = soft/ariane/linux
	url = git@github.com:sld-columbia/linux.git
[submodule "third-party/ariane"]
	path = third-party/ariane
	url = https://github.com/pulp-platform/ariane.git
[submodule "soft/ariane/riscv-pk"]
	path = soft/ariane/riscv-pk
	url = git@github.com:sld-columbia/riscv-pk.git
