[submodule "accelerators/common/syn-templates"]
	path = accelerators/common/syn-templates
	url = git@dev.sld.cs.columbia.edu:esp/syn-templates-stratus.git
[submodule "soft/leon3/linux"]
	path = soft/leon3/linux
	url = git@github.com:sld-columbia/linux.git
	branch = leon3
[submodule "chisel"]
	path = chisel
	url = git@github.com:IBM/esp-chisel-accelerators.git
[submodule "ariane"]
	path = ariane
	url = git@github.com:pulp-platform/ariane.git
[submodule "ariane-sdk"]
	path = ariane-sdk
	url = git@github.com:pulp-platform/ariane-sdk.git
