*.old

.cxl.*
*.log
*.bak
*.jou
vivado
modelsim.ini
*backup*
xilinx_lib

modelsim
vsim.mk
*.wlf
transcript

.grlib_config
grlib_config.h
grlib_config.help
grlib_config.vhd
grlib_config.vhd.h
lconfig.tk
main.tk
tkconfig.h
tkparse

.esp_config
socmap.vhd
mmi64_regs.h
power.h
sldgen

*.exe
*.srec

*.bit

