*.old

.cxl.*
*.log
*.bak
*.jou
vivado
modelsim.ini
*backup*
xilinx_lib

modelsim
vsim.mk
*.wlf
*.do
transcript

xcelium
incisive

.grlib_config
grlib_config.h
grlib_config.help
grlib_config.vhd
grlib_config.vhd.h
lconfig.tk
main.tk
tkconfig.h
tkparse

.esp_config
esp_global.vhd
socmap.vhd
mmi64_regs.h
power.h
sldgen

*.exe
*.srec

*.bit

espmon
espmon.mk
espmon*.rpt
espmon*.rpt
moc_espmonmain.cpp
ui_espmonmain.h
moc_predefs.h
.qmake.stash

boards

linux-build/
linux.dsu
sysroot.cpio
sysroot.files
sysroot/

ahbrom
ahbrom.bin
ahbrom.vhd

*.lst

mmi64
*.rpt

*.dts
*.dtb
prom.bin
systest.bin
pk-build
linux.bin
