*.old

.cxl.*
logs
*.log
*.bak
*.jou
vivado
modelsim.ini
*backup*
xilinx_lib

modelsim
questa
vsim.mk
*.wlf
*.do
transcript

xcelium
incisive

.grlib_config
grlib_config.h
grlib_config.help
grlib_config.vhd
grlib_config.vhd.h
lconfig.tk
main.tk
tkconfig.h
tkparse

.esp_config
esp_global.vhd
socmap.vhd
esplink.h
soc_defs.h
soc_locs.h
mmi64_regs.h
power.h
cache_cfg.svh
plic_regmap.sv
socketgen
socgen

*.exe
*.bin
*.srec

*.bit

espmon
espmon.mk
espmon*.rpt
espmon*.rpt
moc_espmonmain.cpp
ui_espmonmain.h
moc_predefs.h
.qmake.stash

boards

soft-build/

linux-build/
linux.dsu
sysroot.cpio
sysroot.files
sysroot/

ahbrom
ahbrom.bin
ahbrom.vhd

*.lst

mmi64
*.rpt

*.dts
*.dtb
prom.bin
systest.bin
pk-build
linux.bin

mkprom2
linkprom
linkbch
linkpromerc32
linkpromecos
linkpromflash
linkpromerc32flash
linkpromecosflash
prom.out
xdump.s
lib

esplink

mem_tile_floorplanning.xdc
S64esp

zynq/

sdf_dco.list
genus/
