*rtl.xml
wrapper.xml
back_gl.saif
back_rtl.saif
dc_src
vivado_src
solver.*
*final.xml
cgraph.graphml
inout
*.o
*.opp
*-mmap
*-hw
dse
default.svf
*.cache
*.hw
*.xpr
*.jou
*.log
*~
*.cmd
.tmp_versions
Module.symvers
modules.order
*.ko
*.mod.c
Pareto-*pdf
.parts_*.ccpp
.project.tcl.check
.simvision
.stratusIDEProjectSettings
.stratus_syn_sim.qws
INCA_libs
Makefile.prj
*.log
bdw_work
cachelib
irun.history
irun.key
restore.tcl
restore.tcl.svcf
*.diag
stratus_syn_sim.pro
stratus_syn_sim.pro.user
waves.shm
.syn.qws
restore_waveform.tcl
restore_waveform.tcl.svcf
*.pro
*.pro.user
.Xil
memlib
hls-work-*
nimbus.csv
